body, select, input, textarea {
    background-color: black;
    font-family: Monospace;
    font-size: 17px;
}

div.console {
    padding: 10px 10px 10px;
}
label {
    color: white;
}
input {
    margin-left: 5px;
    background-color: black;
    color: white;
    border: 0px;
    width: 95%;
    font-size:17px;
}
input:focus {
    border: 0px;
    outline: none;
}
.inputDiv{
    max-width: 100%;
}
p {
    color: white;
}
