body {
    width: auto;
    height: 100%;
    position: absolute;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
}

.console {
    width: 100%;
    height: 97%;
    position: fixed;
    border-bottom: 1.2em solid chartreuse;
}

.console_out {
    width: 80%;
    height: 85%;
    border-right: 0.1em solid chartreuse;
    border-bottom: 0.1em solid chartreuse;
    margin-top: -1.1em;
    margin-left: -1.1em;
    overflow: hidden;
    min-width: 70em;
    min-height: 48em;
}

.console_out_textarea {
    width: inherit;
    height: inherit;
    padding-top: 1.5em;
    overflow-y: auto;
}

.console_input {
    font-size: 12px;
    position: inherit;
    padding-left: 2em;
    margin-top: 4em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

textarea,
input,
select {
    background-color: transparent;
}

label {
    color: white;
    font-size: 12px;
}

input,
input:focus {
    color: white;
    border: 0px;
    outline: none;
    width: 95%;
    padding-left: 0.5em;
  }

.tmux-text-left {
    size: 2px;
    color: black;
    position: absolute;
    bottom: 0.2em;
    margin-left: 0.7em;
    width: 14em;
  }

.console_out_textarea_li {
    margin-left: 5em;
}